body{ background-image: url(back.png); margin: 200px auto;

    width: 0px;
    
    padding: 0px;

;}



body{ display: flex;

height: 100vh;
justify-content: center;}
 .maruf { width: 100%;}